$colors :(
    blanco: #FFFFFF ,
    verdeclaro: #90EE90 ,
    verdemedio:rgb(63, 138, 63),
    verdeoscuro: #006400 ,
    grisoscuro:#333333 ,
    grisclaro: rgba(255, 255, 255, 0.205),
    grisclarito: #bed8be,
    negro: #0a0a0a

);
$font-size: (
    xs: 1rem,
    m:1.2rem,
    l:2rem,
    xl:3rem
);