/* Estilos generales */
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90EE90; /* Verde claro */
    color: #333333; /* Gris oscuro */
}
.logo{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}
header {
    
    padding: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
nav{
    background-color: #FFFFFF; /* Blanco */
    height: 20%;
    width: 100%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 20px;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #006400; /* Verde oscuro */
}

main {
    padding: 20px;
}

/* Estilos para la sección Hero */

.hero {
     
    
    
    background-position: center;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-content {
    background-image: url(../imagenes/gym.jfif);
    background-size: cover;
    /*background-color: rgba(255, 255, 255, 0.7); /* Blanco semitransparente */
    padding: 40px;
    border-radius: 10px;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: aliceblue;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: aliceblue;
}

.cta-buttons {
    display: flex;
    justify-content: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin: 0 10px;
    background-color: #006400; /* Verde oscuro */
    color: #FFFFFF; /* Blanco */
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos para la sección Features */
#features {
    text-align: center;
    margin-top: 40px;
}

.feature-list {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.feature {
    width: 30%;
}

.feature h3 {
    margin-bottom: 10px;
}

/* Estilos para el footer */
footer {
    background-color: #FFFFFF; /* Blanco */
    padding: 20px;
    text-align: center;
}

/**ESTILOS PAGINA CLASES*/
.card-img-top{
    width: 250px;
    height: 250px;
}
.contenedor-clases{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
.card-crossfit{
    background-image: url(../imagenes/crossfit.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-spinning{
    background-image: url(../imagenes/spinnig.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card-yoga{
    background-image: url(../imagenes/yoga.jfif);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: space-between;
}
.card{
    width: 400px;
    height: 400px;
    justify-content: space-around;
}
.card-body h5{
    font-size: 2.5rem;
    width: auto;
    font-weight: 700;
    text-align: center;
    background-color: #bed8be;
    border: 1px solid white;
    border-radius: 20px;
    color: rgb(63, 138, 63);
    align-content: start;


}
.card-body p{
    font-size: medium;
    align-items: center;
    align-content: center;
    color: aliceblue;

}
.card-body a{
    align-content: end;
    margin-bottom: 1rem;
}

